*{
    padding: 0;margin: 0;
    
}

.login{
    border: 1px solid rgb(121, 123, 230);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: white;

}
.formone{
    border: 1px solid #F5F5F7;
    text-align: center;
    background-color: #f2f2f2;
    border-radius: 10px;
    padding: 10% 3%;

}
.top{
    margin: 0 0  10px 0;

}
.emailone{
    width: 100%;
    font-size: 16px;
    padding: 5px ;
    margin: 0 0 10px 0;
    color: black;
    border-radius: 10px;
    border:  1px solid blueviolet;
    text-align: center;
}

.signinone{
    text-align: center;
    width: 100%;
    padding: 10px ;
    border-radius: 10px;
    color: white;
    border: 1px solid violet;
    outline: none;
    background-color: blueviolet;

}

.signupone{
    color: 4CAF50;
    margin: 3% 0 0 0;
}
.signupone:hover{
    color: #45a049;
}



/* ////////////////////////////////////////// SIGN UP ///////////////////////////////////////////////// */

.signup{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.formtwo{
    border: 1px solid #f2f2f2;
    padding: 10% 5%;
    text-align: center;
    background-color: #f2f2f2;
    border-radius: 10px;
    
    
}
.joinstatement{
    margin: 0 0 20px 0;

}


.usernametwo,.emailtwo,.passwordtwo,.signuptwo{
    padding: 10px;
    width: 100%;
    border-radius: 10px;
    margin: 10px;
    border: 1px solid blueviolet;
}

.fullname{
    display: flex;
    width: 100%;
    /* border: 1px solid black; */
    margin: 0 0 0 3%;
    
}

.firstnametwo,.lastnametwo{
    border: 1px solid blueviolet;
    width: 100%;
    padding: 10px ;
    border-radius: 10px;
    margin: 0 0 0 3%

}
.signuptwo{
    background-color: blueviolet;
    color: white;
}

