*{
    padding: 0;margin: 0;
    
}
.hometop{
    margin: 20px 0 0 20px;
    border: 1px solid blueviolet;
    text-decoration: none;
    padding: 10px;
    border-radius: 10px;
    background-color: blueviolet;
    color: white;
}
/* ////////////////////////////////////////// HOME ///////////////////////////////////////////////// */

.login{
    border: 1px solid rgb(121, 123, 230);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: white;

}
.formone{
    border: 1px solid #F5F5F7;
    text-align: center;
    background-color: #f2f2f2;
    border-radius: 10px;
    padding: 10% 3%;

}
.top{
    margin: 0 0  10px 0;

}
.emailone{
    width: 100%;
    font-size: 16px;
    padding: 5px ;
    margin: 0 0 10px 0;
    color: black;
    border-radius: 10px;
    border:  1px solid blueviolet;
    text-align: center;
}

.signinone{
    text-align: center;
    width: 100%;
    padding: 10px ;
    border-radius: 10px;
    color: white;
    border: 1px solid violet;
    outline: none;
    background-color: blueviolet;

}

.signupone{
    color: 4CAF50;
    margin: 3% 0 0 0;
}
.signupone:hover{
    color: #45a049;
}



/* ////////////////////////////////////////// SIGN UP ///////////////////////////////////////////////// */

.signup{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.formtwo{
    border: 1px solid #f2f2f2;
    padding: 10% 5%;
    text-align: center;
    background-color: #f2f2f2;
    border-radius: 10px;
    
    
}
.joinstatement{
    margin: 0 0 20px 0;

}


.usernametwo,.emailtwo,.passwordtwo,.signuptwo{
    padding: 10px;
    width: 100%;
    border-radius: 10px;
    margin: 10px;
    border: 1px solid blueviolet;
}

.fullname{
    display: flex;
    width: 100%;
    margin: 0 0 0 3%;
    
}

.firstnametwo,.lastnametwo{
    border: 1px solid blueviolet;
    width: 100%;
    padding: 10px ;
    border-radius: 10px;
    margin: 0 0 0 3%

}
.signuptwo{
    background-color: blueviolet;
    color: white;
}


/* ////////////////////////////////////////// Home  ///////////////////////////////////////////////// */

.logout{
    margin: 0 0 0 90%;
    color: black;
    border: 1px solid blueviolet;
    border-radius: 10px;
    padding: 10px;
    background-color: blueviolet;
    color: white;
    
}
.welcome{
    text-align: center;
}
.ask{
    margin: 0 0 0 5%;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid blueviolet;
    background-color: blueviolet;
    color: white;

}
.qdisplay{
    padding: 10px 0 0 20px;

}
td{
    padding: 10px 0 0 30px;
    font-size: 0.9em;
}

.toprow{
    /* background-color: aqua; */
    border: 1px solid black;
}
/* //////////////////////////////////////////   Question and Answer  ///////////////////////////////////////////////// */


.qatitle{
    text-align: center;
}
.qaa{
    margin: 20px 0 30px 20px;
}
.qaform{
    display: flex;
    justify-content: center;
}
.answer{
    padding: 10px;
    border-radius: 10px;
    width: 100%;
    margin: 0 0 10px 0;
    border: 1px solid blueviolet;
}
.answersubmit{
    width: 100%;
    border-radius: 10px;
    padding: 10px;
    border: 1px solid blueviolet;
    background-color: blueviolet;
    color: white;

}
/* //////////////////////////////////////////   Ask Question  ///////////////////////////////////////////////// */

.askq{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f2f2f2;
    height: 80vh;
}
.formask{
    background-color:#f2f2f2;
    border: 1px solid #F5F5F7;

}
ul{
    margin: 0 0 20px 0;
}
#title{
    width: 100%;
    padding: 10px ;
    border-radius: 10px;
    margin: 0 0 10px 0;
    border: 1px solid blueviolet;
}
#Describition{
    width: 100%;
    border-radius: 10px;
    padding: 10px ;
    margin: 0  0 10px 0;
    border: 1px solid blueviolet;


}
.asksubmition{
    width: 100%;
    padding: 10px ;
    margin: 10px;
    border-radius: 10px;
    background-color: blueviolet;
    color: white;
    border: 1px solid blueviolet;


}
.asksubmition:hover{
    color: #45a049;
}